API_PORT='API_PORT'
CLIENT_ID='CLIENT_ID'
CLIENT_SECRET='CLIENT_SECRET'
USER_AGENT='USER_AGENT'
REDIRECT_URI='REDIRECT_URI'
MONGO_URL='MONGO_URL'
GROQ_API_KEY='GROQ_API_KEY'
TOKEN_INSTANCIA_PRAW_TEST = 'TOKEN_INSTANCIA_PRAW_TEST'